.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    /* Asegúrate de que sea menor que el z-index del modal */
}

.footer a {
    color: #ff6347;
    /* Color distintivo para el enlace */
    text-decoration: none;
    margin-left: 5px;
}

.footer a:hover {
    text-decoration: underline;
}